<div class="dropdown" (click)="$event.stopPropagation()">
  <div class="dropdown__open-label" (click)="onOpenClick()">
    <span class="label">{{toggleLabel}}</span>
    <fa-icon class="dropdown__label-icon" [icon]="faAngleDown"></fa-icon>
    <div class="dropdown__list" *ngIf="dropdownVisible">
      <app-input class="dropdown__input" [formControl]="searchInputControl">
        <fa-icon class="dropdown__input-icon" appPrefixIcon [icon]="faSearch"></fa-icon>
      </app-input>
      <div #scrollFrame class="dropdown__items-container" (scroll)="scrolled()">
        <ng-container *ngIf="loaded">
          <div *ngFor="let item of displayItems" class="dropdown__item">
            <app-checkbox class="dropdown__item-checkbox" ngModel
                          [checked]="isSelected(item)" (ngModelChange)="onSelectionChange(item)"></app-checkbox>
            <div class="dropdown__item-label" (click)="onSelectionChange(item)">{{item.label}}</div>
          </div>
        </ng-container>
        <fa-icon [class.invisible]="!(loading$ | async)" [icon]="faSpinner" [spin]="true"></fa-icon>
      </div>
      <div class="dropdown__actions">
        <button class="btn btn-label reset-btn" [disabled]="!loaded" (click)="onRestClick()">Reset</button>
        <button class="btn btn-primary confirm-btn" [disabled]="!loaded" (click)="onSaveClick()">Save</button>
      </div>
    </div>
  </div>
</div>

