@import "abstracts/functions";
@import "abstracts/colors";

$default-shadow: 0 0 4px 2px $color-gray-500;
$control-main-shadow: inset 0 1px 1px alpha-transparency(transparent, 0.08);
$control-default-shadow: inset 0 0 3px alpha-transparency($color-primary, 0.6);
