$color-grey-50: #f8f8f8;
$color-gray-100: #eee;
$color-gray-200: #ededed;
$color-gray-300: #e5e5e5;
$color-gray-400: #e0e0e0;
$color-gray-500: #ccc;
$color-gray-600: #999;
$color-gray-700: #888;

$color-neutral: #fff;
$color-base: #34474e;
$color-primary: #d96e22;
$color-primary-accent: #ac4905;
$color-dark-darkest: #000;
$color-alert: #bd002d;
$color-info: #337ab7;
$color-success: #01932e;
