@import "abstracts/colors";

.form-container {
  width: 300px;
  margin: 0 auto;
}

.search-criteria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem 3rem -1rem;
  position: sticky;
  top: 0;
  background-color: $color-neutral;
  border-bottom: 1px solid $color-gray-500;
  padding: 1rem;
}
