@import "abstracts/colors";

$input-height: 22px;

.control {
  position: relative;
  overflow: hidden;

  &__input {
    width: 100%;
    height: $input-height;
    border: none;
    outline: none;
    color: $color-base;
  }

  &__prefix-icon {
    position: absolute;
    left: 3px;
    top: 0;

    & + .control__input {
      padding-left: 2rem;
    }
  }
}
