@import "abstracts/colors";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Mandali Regular", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $color-base;
  overflow-y: scroll;
  font-size: 1.3rem;
}

.container {
  margin: 0 auto;
  width: 62rem;
}
