@import "abstracts/colors";
@import "abstracts/box-shadows";
@import "abstracts/variables";

.checkbox-label {
  margin-bottom: -3px;

  &:hover {
    cursor: pointer;
  }

  .checkbox-label {
    margin-left: 8px;
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    .checkbox-inner-container {
      .checkbox-input {
        cursor: not-allowed;
      }
    }
  }

  .checkbox-inner-container {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    flex-shrink: 0;
  }

  .checkbox-input {
    left: 20px;
    opacity: 0;
    cursor: pointer;

    &:checked {
      &:focus {
        & ~ .checkbox-background {
          border-color: $color-primary-accent;
          background-color: $color-primary-accent;
        }
      }

      & ~ .checkbox-background {
        border-color: $color-primary;
        background-color: $color-primary;

        .wrt-checkbox-checkmark-path {
          stroke-dashoffset: 0;
        }
      }
    }

    &:focus {
      & ~ .checkbox-frame {
        border-color: $color-primary-accent;
        box-shadow: $control-default-shadow-faint;
      }
    }

    &[disabled] {
      & ~ .checkbox-background {
        border: 1px solid $color-gray-500;
        background-color: $color-gray-300;
      }
    }
  }

  .checkbox-background,
  .checkbox-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    box-sizing: border-box;
    pointer-events: none;
  }

  .checkbox-frame {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    box-shadow: $control-main-shadow;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: $color-gray-500;
  }

  .wrt-checkbox-checkmark-path {
    stroke: $color-neutral;
    stroke-width: 4px;
    stroke-dasharray: 25px;
    stroke-dashoffset: 25px;
  }

  &.sm {
    font-size: 12px;

    .checkbox-inner-container {
      height: 12px;
      width: 12px;
    }

    .wrt-checkbox-checkmark-path {
      stroke-width: 3px;
    }
  }

  &.lg {
    font-size: 20px;

    .checkbox-inner-container {
      height: 20px;
      width: 20px;
    }

    .wrt-checkbox-checkmark-path {
      stroke-width: 5px;
    }
  }
}
